<%- include("header") -%>

<h1>Home</h1>
<p> <%= homeStartingContent %> </p>

  <% posts.forEach((post)=>{ %>
    <h1> <%= post.title %> </h1>
   <p> <%= post.body.slice(0,100) + "..." %>  <a href="/posts/<%= post.title %>">Read More</a> </p> 
 <% }) %>

 <button class="btn main-button  btn-primary"> <a class="button-a" href="/compose">Compose</a> </button>


<%- include("footer") -%>